.feynman__link{
    position: absolute;
    top: 50%;
    right: 48px;
    line-height: 51px;
    font-size: 36px;
    font-style: normal;
    color: black;
  }

.feynman__link:hover{
  margin: 0 10px 0 10px; 
  color: white;
}