.page {
  min-width: 1100px;
  /* we don't know how to make mobile versions of websites yet, */
  /* so here we've set a minimum page width */
  max-width: 1600px;
  /* here we've set a maximum page width */
  margin: 0 auto;
  /* this ensures that all content is centered on screens wider than 1600px */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}



.header {
  display: flex;
  align-items: center;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* parameters for the header section */
}

.logo_place_header{
  position: absolute;
  top: 30px;
  left: 64px;
  height: 31px;
  width: 154px;
}

.header__title{
  width: 730px;
  display: flex;
  align-items: center;
  margin-left: 64px;
  line-height: 96px;
  font-size: 102px;
}

.header__subtitle{
  position: absolute;
  bottom: 30px;
  left: 64px;
  width: 388px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.header__main-illustration{
  position: absolute;
  bottom: 0px;
  right: 0px;
  height: 765px;
  width: 608px;
  
}

.header__square-pic{
  position: absolute;
  top: 64px;
  right: 0px;
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  z-index: -1;
}

/* here we have two examples of selectors in order to remind you how to set styles for elements */
.header__square-pic {
  height: 568px;
  width: 568px;
}




.description{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 100px;
  padding-bottom: 100px;
}

.two-columns{
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.two-columns__brief{
  width: 175px;
  line-height: 1.2;
  font-size: 18px;
}

.two-columns__main-text{
  width: 80%;
  line-height: 34px;
  font-size: 24px;
}

.two-columns__main-text__paragraph{
  margin-bottom: 30px;
}

.two-columns__main-text__paragraphbottom{
  margin-bottom: 0px;
}

.digits{
  padding-top: 100px;
  padding-bottom: 100px; 
}

.digits__title{
  width: 60%;
  margin-bottom: 20px;
  display:flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 69px; 
  font-size: 60px;
}

.digits__subtitle{
  width: 60%;
  display:flex;
  justify-content: center;
  align-items: center;
  line-height: 34px;
  font-size: 24px; 
}

.digits__table{
  width: 1100px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.table__cell{
  width: 250px;
  margin-top: 60px;
}

.table__heading{
  line-height: 1.15em;
  font-size: 24px;
}

.table__text {
  line-height: 1.2em;
  font-size: 18px;
}
/* including elements with key-value modifiers */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

.feynman {
  height: 790px;
  position: relative;
  background-image: url(/Users/mac/web_project_1/images/feynman.png);
  background-repeat: no-repeat;
  background-position: left bottom;
}

.feynman__title{
  margin-top: 100px;
  text-align: center;
  line-height: 1.15em;
  font-size: 120px;
}

.feynman__subtitle{
  text-align: center;
  margin-top: 70px;
  line-height: 51px;
  font-size: 36px;
}

.feynman__link{
  position: absolute;
  top: 50%;
  right: 48px;
  line-height: 51px;
  font-size: 36px;
}

.kaufman{
  background-color: #1f1f1f;
  background-image: url(/Users/mac/web_project_1/images/kaufman-triangle.svg);
  background-repeat: no-repeat;
  background-position-x: 500px;
}

.kaufman__title_theme_dark{
  text-align: center;
  width: 60%;
  color: white;
  line-height: 69px;
  font-size: 60px;
  padding-top: 90px;
}

.kaufman__subtitle_theme_dark{
  margin-top: 20px;
  color: white;
  line-height: 34px;
  font: 24px;
}

.kaufman__table_theme_dark{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 0 auto;
}

.table__heading_theme_dark{
  line-height: 1.15;
  font-size: 24px;
}

.table__text_theme_dark{
  line-height: 1.2em;
  font-size: 18px;
}

.kaufman-triangle {
  position: absoulute;
  top: 0;
  right: -210px;
  z-index: -1;
}

.footer{
  min-height: 350px;
  display: flex;
  justify-content: center;
  background-color: #1f1f1f;
  color: white;
}

.footer__columns{
  display: flex;
  justify-content: space-between;
  width: 90%;
  padding-top: 60px;
  padding-bottom: 40px;
}

.footer__column_content_copyright{
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
}

.logo_place_footer {
  width: 185px;
  height: 35px;
}

.footer_author{
  padding-top: 18px;
  padding-bottom: 18px;
  line-height: 25px;
  font-size: 18px;
}

.footer__column-heading{
  line-height: 45px;
  font-size: 18px;
  font-weight: bold;
}

.footer__column_links{
  line-height: 30px;
  font-size: 18px;
}

.footer__column_content_social{
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
}

.footer__social-icon{
  padding-top: 20px;
}

.social-icon__text{
  float: right;
  margin-left: 10px;
  margin-top: 0px;
  margin-bottom: 0px; 
}